:root {
	--sb-track-color: #232e33;
	--sb-size: 7px;
}

*::-webkit-scrollbar {
	width: var(--sb-size);
}

*::-webkit-scrollbar-track {
	border-radius: 7px;
}

*::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 7px;
}

@supports not selector(::-webkit-scrollbar) {
	body {
		scrollbar-color: var(--sb-thumb-color);
	}
}
